@{
    ViewBag.Title = "API";
    Layout = "~/Views/Shared/_ScrollTheme.cshtml";
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Scripts/api/app.js"></script>
}

<div class="container clearfix">
    <div class="col-md-6">
        <h1> How to use Jarvis API:  </h1>
        <p> Here is the URL: <a href="http://jarvis.kpawa.com/api/Devices">'http://jarvis.kpawa.com/api/Devices'</a></p>
        <p> This is the shape of the JSON that will come back </p>
        <img src="~/images/devices-data.PNG" />
        <h3> Sample javascript to make call to the API </h3>
        <pre>
var serviceUrl = 'http://jarvis.kpawa.com/api/Devices' // 'http://localhost:59235/api/Devices' //
function sendRequest() {
    $.ajax({
        type: 'get',
        url: serviceUrl
    }).done(function (data) {
        $('#devices').replaceWith("<ul id='device2s' />")
        for (var i = 0; i < data.devices.length; i++) {
            callback(data.devices[i]);
        }
    }).error(function (jqXHR, textStatus, errorThrown) {
        $('#value').text(jqXHR.responseText || textStatus);
    });
}
function callback(val) {
    $("#value").replaceWith("<ul id='devic22' />");
    var str = "Category: " + val.category + " - Provider: " + val.provider;
    $('<li />', { text: str }).appendTo($('#devices'));
}  
        </pre>
    </div>
    <div class="col-md-6">
        <h2> Click the button to get data back </h2>
        <form method="get" action="api/Devices">
            <input type="button" value="Get" onclick="sendRequest()" /> <br />
            <div style="border: 1px solid black; min-height: 100px; margin: 10px; padding: 10px;">
                <span id="results">(Result)<br /></span>
            </div>
        </form>
    </div>
</div>
<br />


