################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Jarvis_Phase3/Jarvis_Phase3/obj/Debug/Jarvis_Phase3.csprojResolveAssemblyReference.cache
