<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
    <link href="~/Content/Graphs/morris.css" rel="stylesheet" />
    <script src="~/Content/Graphs/morris.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
</head>

<style>
    body {
        width: 80%;
        margin: 0 10px 0 10px;
    }

    #graph {
        width: auto;
        height: auto;
        margin: 20px auto 0 auto;
    }

    pre {
        height: 250px;
        overflow: auto;
    }
</style>

<div id="area_graph"></div>

<script>
    area_graph();
    prettyPrint();

    function area_graph() {

        Morris.Area({
            element: 'area_graph',
            data: [
              { x: '2010 Q4', y: 3, z: 7 },
              { x: '2011 Q1', y: 3, z: 4 },
              { x: '2011 Q2', y: null, z: 1 },
              { x: '2011 Q3', y: 2, z: 5 },
              { x: '2011 Q4', y: 8, z: 2 },
              { x: '2012 Q1', y: 4, z: 4 }
            ],
            xkey: 'x',
            ykeys: ['y', 'z'],
            labels: ['Y', 'Z']
        }).on('click', function (i, row) {
            console.log(i, row);
        });

    }
</script>

