@model Jarvis_Phase3.Models.NestVM

@{
    ViewBag.Title = "DeviceManager";
}

<div id="line_graph"></div>

<script>
    line_graph();
    prettyPrint();
    function line_graph() {
        var day_data = [
            @foreach (var item in Model.thermostatVMs)
            {
                Html.Raw(item);
                @Html.Raw("{ 'period':" + " '2012-10-01'," + " 'licensed': " +  @Html.DisplayFor(modelItem => item.Current_Temperature) + ", sorned: " + @Html.DisplayFor(modelItem => item.Current_Temperature) + "},");

            }

        ]
        Morris.Line({
            element: 'line_graph',
            data: day_data,
            xkey: 'period',
            ykeys: ['licensed', 'sorned'],
            labels: ['Licensed', 'SORN']
        });
    }

</script>


