
@{
    ViewBag.Title = "AccountView";
    Layout = "~/Views/Shared/_DashBoardTheme.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Account <small> Profile</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-user"></i> Account
            </li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="col-sm-8 page-content">
        <div>
            <div>
                <table class="table table-condensed table-responsive">
                    <tr>
                        <td>
                            <h3>Profile <a href="#"> Edit </a></h3>
                            <ul>
                                <li>User Name: janedoe</li>
                                <li>First Name: Jane </li>
                                <li>Last Name: Doe </li>
                                <li>Email: janedoe@gmail.com</li>
                            </ul>
                        </td>
                        <td>
                            <h3>Account Details <a href="#"> Edit </a></h3>
                            <ul>
                                <li>Account Type: Basic</li>
                                <li>Payment Method: Visa</li>
                                <li>Payment Period: Yearly</li>
                                <li>Your membership will be automatically renewed on 2/15/16</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Preferences <a href="#"> Edit </a></h3>
                            <ul>
                                <li>Set-up Email Notifications: On <a href="#"> Define Events </a></li>
                                <li>Set-up SMS Notifications:  On <a href="#"> Define Events </a></li>
                            </ul>
                        </td>
                        <td>
                            <h3>Membership Options <a href="#"> Edit </a></h3>
                            <ul>
                                <li>Available Server Capacity: 2 GB/ 4 GB</li>
                                <li><a href="#"> Upgrade Membership Plan </a></li>
                                <li><a href="#"> Pause membership </a></li>
                                <li><a href="#"> Cancel membership </a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
