
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_AdminDashBoardTheme.cshtml";
}

@section Styles{
    <style>
        body {
            width: 100% !important;
        }

        .view-all {
            float: right;
            margin-top:20px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
        h3 {
            margin-left: 20px;
        }


    </style> 
}
<div class="row">
    <div class="col-sm-12 page-content clearfix">
        <div class="col-sm-6 clearfix">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Users  </h3>
                </div>          
                @Html.Partial("Partials/_Graphs_Area1")
                </div>
            </div>
        <div class="col-sm-6 clearfix">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-plug"></i> Devices  </h3>
                </div>
                @Html.Partial("Partials/_Graphs_Donut1")
            </div>
         </div>
    </div>


</div>


