@model Jarvis_Phase3.Models.NestVM
@{
    ViewBag.Title = "DeviceManager";
    Layout = "~/Views/Shared/_ConsumerDashboardTheme.cshtml";
}

@section Styles {
    <style>
        body {
            width: 100% !important;
        }
    </style>
    }

    <div class="row">
        <div class="col-sm-12">              
            @Html.Partial("Partials/ThermostatChart")
        </div>
        <div class="col-sm-6">
            @Html.Partial("Partials/smokeCoAlarmChart")
        </div>
        <div class="col-sm-6">
            @Html.Partial("Partials/CameraTable")
        </div>
    </div>

