
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_ScrollTheme.cshtml";
}
@section Styles {
    <style>
        .body-content {
            background-image: url('../../images/man-coffee-cup-pen.jpg');
            color: silver;
            padding-top: 40px;
            padding-bottom: 40px;
            min-height: 90%;
            height: auto !important;
            height: 90%;
        }

        #footer {
            position: fixed;
            bottom: 0;
        }

        #forgotForm {
            margin-left: 35%;
            margin-right: 35%;
        }

        #emailInput {
            width: 100%;
        }
    </style>
}
<div class="panel opac-black" id="forgotForm">
    <div class="panel-heading opac-black">
        <b>Forgot your password?</b><br /><br />
        <span>If you have forgotten your password, you can use this form to reset your password. You will receive an email with instructions.</span>
    </div>
    <div class="panel-body opac-black">
        <hr />
        @using (Html.BeginForm("ForgotPassword", "Accounts"))
            {
            <div style="text-align:center">
                <label class="col-md-4">Email:</label>
                <input class="col-md-7" type="text" name="email" id="emailInput" /><br />
            </div>
            
            <hr />
            <div style="text-align:center">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

