
@{
    ViewBag.Title = "RegisterDevices";
    Layout = "~/Views/Shared/_AdminDashBoardTheme.cshtml";
}

@section Styles {
    <style>
        button.dropdown-toggle {
            background: #5bc0de;
        }
        .row h1 {
            margin-left: 20px;
        }
        .panel-body {
            padding: 10px;
        }

    </style>
}
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-plug"></i> Register Device </h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-6">
                    @Html.Partial("Partials/LoginForm")
                </div>
            </div>
        </div>
    </div>
</div>
