
@{
    ViewBag.Title = "RegisterDevices";
    Layout = "~/Views/Shared/_AdminDashBoardTheme.cshtml";
}

@section Styles {
    <style>
        #page-wrapper {
            height: 800px;
        } 
        button.dropdown-toggle {
            background: #5bc0de;
        }
        .row h1 {
            margin-left: 20px;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <h1> Provider Account </h1>
        <div class="col-sm-8">
            @Html.Partial("Partials/LoginForm")
        </div>        
    </div>
</div>
