
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_ScrollTheme.cshtml";
}
@section Styles {
    <style>
        .body-content {
            background-image: url('../../images/man-coffee-cup-pen.jpg');
            color: silver;
            padding-top: 40px;
            padding-bottom: 40px;
            min-height: 90%;
            height: auto !important;
            height: 90%;
        }

        #footer {
            position: fixed;
            bottom: 0;
        }
    </style>
}
<div class="message">
    <div class="panel opac-black">
        <div class="panel-body opac-black">
            @using (Html.BeginForm("ResetPassword", "Accounts"))
            {
                <div style="text-align:center">
                    <strong>Enter your new password below</strong>
                </div>

                <hr />

                <div class="col-md-12">
                    <label class="col-md-4">New Password:</label>
                    <input class="col-md-4" type="password" name="password" /><br /><br />
                </div>
                <div class="col-md-12">
                    <label class="col-md-4">Confirm Password:</label>
                    <input class="col-md-4" type="password" name="passwordConfirm" /><br /><br />
                </div>
                <input type="hidden" name="userID" value="@ViewBag.UserID" />
                <input type="hidden" name="passwordToken" value="@ViewBag.PasswordToken" />

                <hr />

                <div style="text-align:center">
                    <input type="submit" value="Reset Password" class="btn btn-primary"/>
                </div>
                
            }
        </div>

    </div>
</div>
