body {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 80px;
}

nav {
    border-color: transparent;
}

#page-wrapper {
    margin-top: 10px;
}

.container-fluid {
    padding: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



@media (min-width: 768px) {
    .side-nav { 
        position: fixed;
        top: 80px;
    }
}

.top-nav>li>a {
    padding-top:18px;
    padding-bottom: 20px;
}

.navbar-right > li > a  {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* HANBURGER ICON*/
.navbar-inverse .navbar-toggle{
    margin-top: 15px;
}


/* to take up the whoel screen */

#page-wrapper {
    margin-top: 0px;
    position: absolute;
    width: 82%;
    height: 92%;
}